[twitter.{{vhost}}]

user = nobody
group = nogroup

listen = /tmp/php-fpm.twitter.{{vhost}}.sock

listen.owner = nobody
listen.group = nogroup
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1

pm.max_spare_servers = 3

access.log = /var/log/$pool.access.log
chdir = /
php_admin_value[error_log] = /var/log/$pool.error.log
